{% load i18n markup webdesign %}

{% if markup %}<div class="content_block">{% endif %}

{% if block.content %}
    {% if markup %}
        {{ block.content|markdown }}
    {% else %}
        {{ block.content }}
    {% endif %}
{% else %}
    {% if DEBUG %}
        {% if markup %}<p>{% endif %}
        {% if amount %}
            {% lorem amount w %}
        {% else %}
            {% lorem %}
        {% endif %}
        {% if markup %}</p>{% endif %}
    {% endif %}
{% endif %}

{% if perms.content_blocks and editable %}
    <p><a href="{% if block %}{% url content_blocks_edit block.name %}{% else %}{% url content_blocks_edit name %}{% endif %}" class="content-block-edit">{% trans "Edit" %}</a></p>
{% endif %}

{% if markup %}</div>{% endif %}
