{% load i18n markup webdesign %}

{% if not content_mode %}<div{% if perms.content_blocks and editable %} class="content-block"{% endif %}>{% endif %}

{% if content.content %}
    {% block content %}
        {% if markup %}
            {{ content.content|markdown }}
        {% else %}
            {{ content.content }}
        {% endif %}
    {% endblock %}
{% else %}
    {% if DEBUG %}
        {% if markup %}<p>{% endif %}
        {% if amount %}
            {% lorem amount w %}
        {% else %}
            {% lorem %}
        {% endif %}
        {% if markup %}</p>{% endif %}
    {% endif %}
{% endif %}

{% if perms.content_blocks and editable %}
    <p><a href="{% if content %}{% url content_blocks_content_block_edit content.name %}{% else %}{% url content_blocks_content_block_edit name %}{% endif %}" class="content-block-edit">{% trans "Edit" %}</a></p>
{% endif %}

{% if not just_content %}</div>{% endif %}
