{% load i18n markup webdesign %}

{% if wrapper %}
    {% if markup %}
        <div{% if perms.content_blocks and editable %} class="content-block"{% endif %}>
    {% else %}
        {% if perms.content_blocks and editable %}
        <span class="content-block">
        {% endif %}
    {% endif %}
{% endif %}

{% if content_block.content %}
    {% block content %}
        {% if markup %}
            {{ content_block.content|markdown }}
        {% else %}
            {{ content_block.content }}
        {% endif %}
    {% endblock %}
{% else %}
    {% if DEBUG %}
        {% if markup %}<p>{% endif %}
        {% if amount %}
            {% ifequal method "p" %}
                {% lorem amount p %}
            {% else %}
                {% ifequal method "w" %}
                    {% lorem amount w %}
                {% else %}
                    {% lorem amount %}
                {% endifequal %}
            {% endifequal %}
        {% else %}
            {% lorem %}
        {% endif %}
        {% if markup %}</p>{% endif %}
    {% endif %}
{% endif %}

{% if perms.content_blocks and editable %}
<a href="{% if content_block %}{% url content_blocks_content_block_edit content_block.name %}{% else %}{% url content_blocks_content_block_edit name %}{% endif %}?markup={{ markup }}" class="content-block-edit">{% trans "Edit" %}</a>
{% endif %}

{% if wrapper %}
    {% if markup %}
        </div>
    {% else %}
        {% if perms.content_blocks and editable %}
        </span>
        {% endif %}
    {% endif %}
{% endif %}